/* Header */

header{
    background-color: #f86254;
    height: 10em;
    width: 100vw;
    min-height: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 12em;
    padding: 0.5em;
}
.headericon{
    margin-right: 3em;
    padding-top: 1.5em;
}
.headertext{
    font-style: oblique;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 1.5em;
    text-decoration: none;
    
}